*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container{
    max-width: 1900px;  
}

.header{
    width: 1200px;
    height: 50px;
    background-color:rgb(224, 112, 20);
}

h2{
    margin: auto;
    padding: 40px 0px 20px 0px;
    text-align: center;
    color:rgb(1, 6, 14);
}

.btn{
    margin:10px;
    width: 70px;
    height: 25px;
    background-color: rgba(249, 156, 63, 0.687);
}

.d-flex{
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
}

.banner{
    background-image: url(../assets/images/banner-bg.jpg);
    padding: 180px 100px;
    background-repeat: no-repeat ;
    background-size: cover;
}